{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}

<body>
    
    <div class="language-switcher">
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {% translate "Language" %}
        </button>
    
        <form action="{% url 'set_language' %}" method="post" class="dropdown-menu dropdown-menu-end p-2">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ request.path }}">
            <button type="submit" name="language" value="en" class="dropdown-item">
                <img src="{% static 'images/en_flag.png' %}" alt="{% translate 'English' %}">
            </button>
            <button type="submit" name="language" value="fr" class="dropdown-item">
                <img src="{% static 'images/fr_flag.png' %}" alt="{% translate 'Français' %}">
            </button>
            <button type="submit" name="language" value="es" class="dropdown-item">
                <img src="{% static 'images/es_flag.png' %}" alt="{% translate 'Castellano' %}">
            </button>
        </form>
    </div>

    <form method="post">
        {% csrf_token %}
        <h2>Update Score for {{ game.player1.username }} vs {{ game.player2.username }}</h2>
        <label for="player1_score">{{ game.player1.username }} Score:</label>
        <input type="number" name="player1_score" required><br>
        <label for="player2_score">{{ game.player2.username }} Score:</label>
        <input type="number" name="player2_score" required><br>
        <button type="submit">Update</button>
    </form>

</body>

{% endblock %}
