{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}

<style>
    body {
        font-family: 'Gagalin', sans-serif;
        background-image: url('/static/images/background_2.png');
        background-size: cover;
        color: #001aa0;
    }
    .fixed-button-container {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 10px;
        text-align: center;
    }
    .fixed-button-container a {
        background-color: #001aa0;
        color: white;
        padding: 10px;
        text-decoration: none;
    }
    .fixed-button-container a:hover {
        background-color: white;
        color: #001aa0;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 4rem;
        width: 100%;
        min-height: 100vh;
    }
    h1, p {
        width: 100%;
    }
    h1 {
        font-size: 4rem;
    }
    p {
        font-size: 2rem;
    }
    @media (max-width: 768px) {
        h1 {
            font-size: 3rem; /* Taille de police réduite pour h1 */
        }
        p {
            font-size: 1.5rem; /* Taille de police réduite pour p */
        }
        .fixed-button-container a {
            font-size: 1.2rem; /* Taille de police réduite pour les boutons */
        }
        .fixed-button-container {
            position: relative;
            bottom: auto;
            left: auto;
            right: auto;
            padding: 8px 0;
        }
    }

</style>

<body>

    <div class="language-switcher">
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {% translate "Language" %}
        </button>
    
        <form action="{% url 'set_language' %}" method="post" class="dropdown-menu dropdown-menu-end p-2">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ request.path }}">
            <button type="submit" name="language" value="en" class="dropdown-item">
                <img src="{% static 'images/en_flag.png' %}" alt="{% translate 'English' %}">
            </button>
            <button type="submit" name="language" value="fr" class="dropdown-item">
                <img src="{% static 'images/fr_flag.png' %}" alt="{% translate 'Français' %}">
            </button>
            <button type="submit" name="language" value="es" class="dropdown-item">
                <img src="{% static 'images/es_flag.png' %}" alt="{% translate 'Castellano' %}">
            </button>
        </form>
    </div>

    <div class="container mt-4">

        <h1>{% trans "Password Successfully Changed" %}</h1>
    
        <p>{% trans "Your password has been successfully changed." %}</p>
    
        <!-- Fixed button for returning to profile -->
        <div class="fixed-button-container">
            <a href="{% url 'profile_view' %}" class="btn btn-primary">
                {% trans "Return to Profile" %}
            </a>
        </div>
    
    </div>

</body>

{% endblock %}

