Django==4.2.10
# for PostgreSQL
psycopg2
# for use .env in python
python-dotenv
requests
# for use front and back in the same ip
django-cors-headers==4.3.1
# for use jwt token for 2fa
djangorestframework
djangorestframework-simplejwt